* {
	margin:0px; padding:0px;
}
html, body {
	height:100%;
	max-width:100%;
	flow-x: hidden;
	overflow-x: hidden;
}
body {
	font-family: 'Open Sans', sans-serif;
	color:#9bb2c7; /*#b9b9b9*/
	background-color:#0f0f0f;
	display:flex;
	flex-direction:column;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
	color:#9bb2c7;
	font-weight:800;
}
h2 {
	text-shadow: 3px 3px #000;
}
h3 {
	color:#e0ba48;
	text-shadow: 3px 3px #000;
}
.content {
	flex: 1 0 auto;
}
.space-md {
	padding-top:30px;
}
a, a:visited {
	color:#e0ba48;
}
#logo {
}
.intro{
	color:#e0ba48;
	text-shadow: 3px 3px #000;
	margin:20px;
}
.default {
	color:#dedec5;
}
.fanpack {
	color:#e0ba48;
}
.red {
	color:#bd3535;
}
.blue {
	color:#3d93fc;
}
.system {
	color:#968a06;
}
.system-message {
	color:#abded4;
}
.shadow {
	color:#1e2420;
}
#bg {
	position:absolute;
	z-index:0;
	height:260px;
	width:450px;
}
#bg-select {
	background-color:#0e1e2e;
	color:#9bb2c7;
	border:0px;
	border-top:2px solid black;
	border-bottom:2px solid black;
	padding:5px 10px;
  	-webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
}
.chat {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	text-shadow: 2px 2px #0f0f0f;
	max-width:430px;
	padding:40px 0px 40px 40px;
	max-width:450px;
	z-index:1337;
    position:absolute;
}
form {
	background-image: linear-gradient(#013047, #1d2c3d);
	padding:10px;
	margin-top:10px;
	text-align:center;
	min-height:140px;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
}
#numPanes {
	font-size:25px;
	background-color:#0e1e2e;
	border:0px;
	border-top:2px solid black;
	border-bottom:2px solid black;
	-webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
}
input[type="text"] {
	padding:5px 10px;
	background-color:#0e1e2e;
	color:#9bb2c7;
	border:0px;
	border-top:2px solid black;
	border-bottom:2px solid black;
	text-align:center;
	-webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
}
.chatinput {
	width:116%;
	margin-left:-8%;
}
#by {
	text-align:center;
}
